
{% block body %}

<div class="row">
      <!--[ daily sales section ] start-->
    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
          <div class="card-block">
            <h6 class="mb-4">Mensajes Enviados</h6>
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                   
                  332</h3>
              </div>
  
              <div class="col-3 text-right">
                <p class="m-b-0">67%</p>
              </div>
            </div>
            <div class="progress m-t-30" style="height: 7px;">
              <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <!--[ daily sales section ] end-->
    <!--[ Monthly  sales section ] starts-->
    <div class="col-md-6 col-xl-4">
        <div class="card Monthly-sales">
          <div class="card-block">
            <h6 class="mb-4">Mensajes Pendientes</h6>
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                    class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$
                  2.942.32</h3>
              </div>
              <div class="col-3 text-right">
                <p class="m-b-0">36%</p>
              </div>
            </div>
            <div class="progress m-t-30" style="height: 7px;">
              <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <!--[ Monthly  sales section ] end-->
    <!--[ year  sales section ] starts-->
    <div class="col-md-12 col-xl-4">
        <div class="card yearly-sales">
          <div class="card-block">
            <h6 class="mb-4">Total de Mensajes</h6>
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                    class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                  8.638.32</h3>
              </div>
              <div class="col-3 text-right">
                <p class="m-b-0">80%</p>
              </div>
            </div>
            <div class="progress m-t-30" style="height: 7px;">
              <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;"
                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <!--[ year  sales section ] end-->
     <!--[ Recent Users ] start-->
     <div class="col-xl-8 col-md-6">
        <div class="card Recent-Users">
  
            <div class="card-header">
              <h5>Listados de Usuarios</h5>
            </div>
            <div class="card-block px-0 py-3">
              <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                          <th>Usuario</th>
                          <th>Tiempo</th>
                          <th>Fecha Inicio</th>
                          <th>Estado Mensaje</th>
                          <th>Acciones</th>
                          <th class="text-right"></th>
                        </tr>
                      </thead>
                  <tbody>
                    {% for c in usuarios %}
  
                      <tr class="unread">
                        
                        <td>
                          <h6 class="mb-1">{{ c.nombreC}}</h6>
                          <p class="m-0">0{{ c.telefono}}</p>
                        </td>
                        <td>
                            
                            <h6 class="mb-1">{{ c.tiempoH}} horas</h6>
                        </td>
                        <td>
                            <h6 class="mb-1">{{ c.campo6}}</h6>
                          </td>
                          <td>
                            {% if c.campo3 == 'PENDIENTE' %}
                            <h6 class="m-0 text-c-red">{{ c.campo3}}</h6>
                            {% else %}
                            <h6 class="m-0 text-c-green">{{ c.campo3}}</h6>
                            <p class="m-0">{{ c.campo5}}</p>
                            {% endif %}
                        <td>
                          <a href="edicionUsuario/{{c.telefono}}" class="label theme-bg2 text-white f-12">Editar</a>
                          <a href="{% url 'eliminarUsuarios' telefono=c.telefono %}" class="label theme-bg text-white f-12">Eliminar</a>
                          <a href="{% url 'enviarNotifi' telefono=c.telefono nombreC=c.nombreC mensaje=c.mensaje%}"class="label text-c-purple f-12">Mensaje</a>
                        </td>
                        
                      </tr>
  
                    {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>
  
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-primary m-t-5" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">Nuevo Usuario</a>
                
            </div>
            <div class="collapse show" id="collapseExample" >
                <div class="card-body">
                    <form action="/registrarUsuarios/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono"
                              minlength="9" maxlength="9"required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txmensaje" name="txmensaje" class="form-control" placeholder="Mensaje"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txNombreC" name="txNombreC" class="form-control" placeholder="Nombre Cliente"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtNombreR" name="txtNombreR" class="form-control" placeholder="Nombre Reprentante"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="numHoras" name="numHoras" class="form-control" min="1" max="12"
                                value="1" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    
</div>
{% endblock %}

